*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    --white: linear-gradient(white,white);
    --gradient:linear-gradient(to right,#58f5f5,#569ef0);
    
    background: var(--white);
    background: var(--gradient);
        font-family: Arial, Helvetica, sans-serif;
      
}
.login-logo{
  height: 100px;
  width: 100px;
  position: relative;
  left: 30%;
  /* border-radius: 10%; */
}
h2{
    text-align: center;
    margin-bottom:30px ;
}
.form-container{
    
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 15px;
}
.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 9px;
}
.submit-btn{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 60, 235);
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: rgb(22, 147, 225);
}
p{
    margin-top: 15px;

}